<!DOCTYPE html>
<html lang="en">

<!--Headers SIN ESTO  LA VISTA EN EL NAVEGADOR SE DESCONFIGURA-->
{% include 'base/header.html' %}

<!-- BODY options, add following classes to body to change options

// Header options
1. '.header-fixed'					- Fixed Header

// Brand options
1. '.brand-minimized'       - Minimized brand (Only symbol)

// Sidebar options
1. '.sidebar-fixed'					- Fixed Sidebar
2. '.sidebar-hidden'				- Hidden Sidebar
3. '.sidebar-off-canvas'		- Off Canvas Sidebar
4. '.sidebar-minimized'			- Minimized Sidebar (Only icons)
5. '.sidebar-compact'			  - Compact Sidebar

// Aside options
1. '.aside-menu-fixed'			- Fixed Aside Menu
2. '.aside-menu-hidden'			- Hidden Aside Menu
3. '.aside-menu-off-canvas'	- Off Canvas Aside Menu

// Breadcrumb options
1. '.breadcrumb-fixed'			- Fixed Breadcrumb

// Footer options
1. '.footer-fixed'					- Fixed footer

-->

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
<!--Navbar  ESTE ES EL ENCABEZADO SIN ESTO NO HAY PERFIL EN EL ENCABEZADO-->
<!--{% include 'base/navbar.html' %}-->

<div class="app-body">
    <!--Sidebar ESTA ES LA LISTA DE OPCIONES QUE APARECE EN LA COLUMNA ISQUIERDA-->
    {% include 'base/sidebar.html' %} 

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb  ESTO PERTENECE A LA PARTE LOGICA CREO XD QUERY-->
        {% include 'base/breadcrumb.html' %}

        <!-- Page contents -->
        <div class="container-fluid">
            <div class="animated fadeIn">
                {% block content %}
                {% endblock %}
            </div>

        </div>
        <!-- /.conainer-fluid -->
    </main>


    <!--Aside bar  AL ELIMINAR NO PASO NADA-->
    {% include 'base/asidebar.html' %}

</div>

<!--Footer  HACE REFERENCIA A LA PARTE INFERIOR DE DERECHOS DEL AUTOR-->
<!-- {% include 'base/footer.html' %}-->

<!--JS AL BORRAR NO PASO NADA XD-->
{% include 'base/js.html' %}

</body>
</html>