{% load static %}
<div class="sidebar">
    <nav class="sidebar-nav">

        <!-- columana de panel de control-->
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="icon-speedometer"></i> Dashboard</a>
            
            </li>
             <!-- admistrativos  -->
            <!-- Docentes -->
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><!-- SE LLAMA A NINGUN URL, DOCENTES-->
                    <i class="nav-icon icon-user"></i> Docentes</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'teacher_list' %}">
                            <i class="nav-icon icon-puzzle"></i> Lista de Docentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_teacher' %}">
                            <i class="nav-icon icon-puzzle"></i> Crear Nuevo Docente</a>
                    </li>
                </ul>
            </li>
             
            <!-- estudiantes-->
            
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"> <!-- SE LLAMA NINGUN URL, ESTUDIANTE-->
                    <i class="nav-icon icon-user"></i> Estudiantes</a> 
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'student_list' %}"> <!-- SE LLAMA A URL LISTA DE ESTUDIANTE-->
                            <i class="nav-icon icon-puzzle"></i> Lista de Estudiantes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'attendance_count' %}">
                            <i class="nav-icon icon-puzzle"></i> Asistencia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'student_regi' %}"> <!-- SE LLAMA A URL DE ESTUDIANTE-->
                            <i class="nav-icon icon-puzzle"></i> Registro</a>
                    </li>
                </ul>
            </li> 
            
             <!-- empleados -->
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-user"></i> Otros</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'employee_list' %}">
                            <i class="nav-icon icon-puzzle"></i> Employee List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_employee' %}">
                            <i class="nav-icon icon-puzzle"></i> Create Employee</a>
                    </li>
                </ul>
            </li>
            
        </ul>
         <!-- columana de panel de control-->
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>

    {% block sidebar %}
    {% endblock %}
</div>

